#
# Copyright (c) 2020 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

config EVENT_LOG
    bool "Enable Enable Log"
    default y

config EVENT_LOG_LEVEL
    int "Log level Event Log module"
    range 0 4
    default 3

config EVENT_LOG_MAX_COUNT
    int "Maximum number of event logs"
    default 16

config EVENT_LOG_MAX_SIZE
    int "Maximum number of bytes for log"
    default 16384
