#
# Copyright (c) 2020 Laird Connectivity
#
# SPDX-License-Identifier: Apache-2.0
#

menuconfig APPLICATION_COMMON
     bool "Config Common Application Modules"
	 default y

if APPLICATION_COMMON

config TEST_MENU
    bool "Enable test menu shell"
    depends on SHELL

config LOG_LEVEL_BLE_TASK
    int "Log level for BLE Msg Task"
    range 0 4
    default 3

config CONTROL_TASK_LOG_LEVEL
    int "Log level for Control Task"
    range 0 4
    default 3

config BSP_LOG_LEVEL
    int "Log level for BSP"
    range 0 4
    default 4

config SENSOR_TASK_LOG_LEVEL
    int "Log level for Sensor Task"
    range 0 4
    default 3
    
config ATTR_VALID_LOG_LEVEL
    int "Log level for Attribute Validator"
    range 0 4
    default 3

config AGGREGATION_LOG_LEVEL
    int "Log level for Aggregation Count"
    range 0 4
    default 3

config ADVERTISEMENT_LOG_LEVEL
    int "Log level for Advertisement"
    range 0 4
    default 3

config ALARM_CONTROL_LOG_LEVEL
    int "Log level for Alarm Control"
    range 0 4
    default 3

config EVENT_TASK_LOG_LEVEL
    int "Log level for Event Task"
    range 0 4
    default 3    

config ADVERTISEMENT_DISABLE
    bool "Disable advertisements for easier debug"
    help
        For a peripheral breakpoints can be used if advertisements aren't started.
        This is easier than setting CONFIG_BT=n because msg framework assertions can
        remain on.

config SETTINGS_MOUNT_POINT
    string "The mount point for settings (storage partition in internal flash)"
    default "/lfs"

config MCUMGR_CMD_SENTRIUS_MGMT
    bool "Enable the Sentrius mcumgr interface"
    depends on MCUMGR
    default y

config HEARTBEAT_SECONDS
    int "Heartbeat tick rate seconds"
    range 1 3600
    default 60
    help
        Update rate for increasing battery age counter and qrtc in attributes.

rsource "Kconfig.adc_bt6"
rsource "Kconfig.attribute"
rsource "Kconfig.ui"
rsource "Kconfig.event_log"

endif # APPLICATION_COMMON
