# Copyright (c) 2020 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0


menuconfig USER_APPLICATION
     bool "Config User Application"
	 default y

if USER_APPLICATION

config LAIRD_CONNECTIVITY_DEBUG
    bool
    default n

config JSON_BRACKET_BUFFER_SIZE
    int "The maximum size JSON message that can be processed"
    default 1536
    help
        This applies to sensor messages received over Bluetooth.

config ATTR_SAVE_DELAY_MS
    int "Time (in ms) before saving attributes to filesystem to cache other data to write"
    default 30000
    range 1000 3600000

config UART_SHUTOFF
    bool "Enables shutting the main UART off to conserve power"
    default y

config FILE_ACCESS_LOG_LEVEL
    int "File access log level for reading/writing files over SMP"
    range 0 4
    default 0

config RECOVERY_FILE_PATH
    string "File name (including path) of where the recovery count file is stored"
    default "/lfs/recovery_count"

config ATTR_SHELL_ALLOW_DEBUG_COMMANDS
    bool "Enables shell functions that can modify, dump and load data"
    help
        This should not be enabled for production builds.

menuconfig MINIMUM_FIRMWARE_VERSION_FOTA_CHECK
    bool "Enable minimum firmware version FOTA check"
    default n

config MINIMUM_FIRMWARE_VERSION_MAJOR
    int "Major firmware version (a.x.x) which is the minimum allowed for FOTA"
    range 0 255
    default 1
    depends on MINIMUM_FIRMWARE_VERSION_FOTA_CHECK

config MINIMUM_FIRMWARE_VERSION_MINOR
    int "Minor firmware version (x.b.x) which is the minimum allowed for FOTA"
    range 0 255
    default 28
    depends on MINIMUM_FIRMWARE_VERSION_FOTA_CHECK

config MINIMUM_FIRMWARE_VERSION_REVISION
    int "Revision firmware version (x.x.c) which is the minimum allowed for FOTA"
    range 0 65535
    default 0
    depends on MINIMUM_FIRMWARE_VERSION_FOTA_CHECK

endif # USER_APPLICATION

rsource "../common/Kconfig"

source "Kconfig.zephyr"
